.side {
  text-align: end;
}

.wrapper {
  font-size: medium;
  z-index: 9999;
  position: fixed;
  top: 10px;
  right: 10px;
  color: black;
}

.chartWrapper {
  margin-top: 0.5rem;
  width: 100%;
  min-width: 500px;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.9);
}

.chartHeader {
  display: flex;
  justify-content: space-between;
}

.chart {
  margin-top: 0.5rem;
  min-height: 300px;
}