
.wrapper {
 outline: 1px solid #1677ff;
  padding: 0.25rem;


 :global(.ant-segmented-thumb){
  visibility: hidden;
  height: 28px;
 }
 :global(.ant-segmented-group){
  flex-wrap: wrap;
 }
}

.content{
 max-height: 300px;
 overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}



.buttonWrapper {
  display: flex;
  gap: 1rem; 
  justify-content: flex-start;
  margin-top: 1rem;
}

.removeButton {
  
  
}
