.wrapper {
  border: 1px solid #ffbb96;
  padding: 0.25rem;
}

.good {
  border: 1px solid #a0d911;
}

.editButton {
  padding: 0;
  margin-left: 0.25rem;
}

.selectButton {
  margin-left: 0.25rem;
}
.chartButton {
  margin-top: 0.5rem;
}
.energyButton {
  margin-left: 0.5rem;
}